<tbody>
    <tr>
        <th>Nombre</td>
        <td><%= usuario.nombre %></td>
    </tr>
    <tr>
        <th>Apellidos</td>
        <td><%= usuario.apellido %></td>
    </tr>
    <tr>
        <th>Contraseña</td>
        <td><%= usuario.contrasenya %></td>
    </tr>
</tbody>