$fuenteFamilia: Verdana, Geneva, Tahoma, sans-serif;

//Tamaños de fuente para dispositivos mobiles:
$fuenteTamañoPequeñoMobil: 12px;
$fuenteTamañoDetallesMobil: 14px;
$fuenteTamañoCuerpoMobil: 16px;
$fuenteTamañoSubtituloMobil: 20px;
$fuenteTamañoTituloMobil: 28px;
$fuenteTamañoCabeceraMobil: 38px;

//Tamaños de fuente para equipos portatiles y sobremesa:
$fuenteTamañoPequeño: 14px;
$fuenteTamañoDetalles: 16px;
$fuenteTamañoCuerpo: 18px;
$fuenteTamañoSubtitulo: 24px;
$fuenteTamañoTitulo: 38px;
$fuenteTamañoCabecera: 46px;

$colorFondo1: white;
$colorPrincipal: black;