$fuenteFamilia: Verdana, Geneva, Tahoma, sans-serif;

$fuenteTamañoPequeñoMobil: 12px;
$fuenteTamañoDetallesMobil: 14px;
$fuenteTamañoCuerpoMobil: 16px;
$fuenteTamañoSubtituloMobil: 20px;
$fuenteTamañoTituloMobil: 28px;
$fuenteTamañoCabeceraMobil: 38px;

$fuenteTamañoPequeño: 16px;
$fuenteTamañoDetalles: 18px;
$fuenteTamañoCuerpo: 20px;
$fuenteTamañoSubtitulo: 24px;
$fuenteTamañoTitulo: 38px;
$fuenteTamañoCabecera: 46px;

$colorFondo1: white;
$colorPrincipal: black;
